<div class ="container" id="planets-page">
	<h1>Planets</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Region</th>
				<th>System</th>
				<th>Native Species</th>
				<th>Population</th>
			</tr>
		</thead>
		<tbody id="table-body">
			<tr>
				<td>{{this.name}}</td>
				<td>{{this.region}}</td>
				<td>{{this.system}}</td>
				<td>{{this.species}}</td>
				<td>{{this.population}}</td>
			</tr>
		</tbody>
	</table>

	<br>

	<form>

		<label>Name</label>
		<input placeholder="Coruscant" id="name">

		<label>Region</label>
		<input placeholder="Core Worlds" id="region">

		<label>System</label>
		<input placeholder="Coruscant System" id="system">

		<label>Species</label>
		<select id="dropdown">
		</select>

		<label>Population</label>
		<input type="number" placeholder="Coruscant" id="population">


		<input type="submit" value="Submit" id="submit-data-planets"/>
	</form>
</div>