<div class="container">
	<h3>Update Exercise<h3>
	<form action="/edit-row" method="POST">
		<div class="row">
			<div class="eight columns">
				<label>Exercise Name</label>
				<input class="u-full-width" type="text" value="{{this.name}}" id="ex-name">
			</div>
		</div>

		<div class="row">
			<div class="eight columns">
				<label>Date Performed</label>
				<input class="u-full-width" type="date" value="{{this.date}}" id="ex-date">
			</div>
		</div>
		<div class="row">
			<div class="three columns">
				<label>Reps</label>
				<input class="u-full-width" type="number" min="0" step="1" value="{{this.reps}}" id="ex-reps"/>
			</div>
			<div class="three columns">
				<label>Weight</label>
				<input class="u-full-width" type="number" min="0" step="1" value="{{this.weight}}" id="ex-weight">
			</div>
			<div class="three columns">
				<label>Units</label>
					<label class="weight-type-lbs">
						<input type="radio" name="units" id="lbs-true" data-bind="checked:IsChecked, checkedValue: true"/>
	   		 			<span class="label-body">lbs</span>
					</label>
					<label class="weight-type-kgs">
						<input type="radio" name="units" id="kgs-true"/>
						<span class="label-body">kgs</span>
					</label>
			</div>
			<div class="row" style="display:none;">
				<div class="eight columns">
					<label>ID</label>
					<input class="u-full-width" type="text" value="{{this.id}}" id="ex-id">
				</div>
			</div>
		</div>

		<input class="button-primary" type="submit" value="Submit"/>
		<button class="button-primary" type="submit" value="Submit">back to workout log</button>
	</form>
</div>