<div class ="container">
	<h1>Characters</h1>
	<h3>Current Character List</h3>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Homeworld</th>
				<th>Faction</th>
				<th>Ship</th>
				<th>Structure</th>
				<th>Species</th>
			</tr>
		</thead>
		<tbody id="table-body">
			<tr>
				<td>{{this.id}}</td>
				<td>{{this.f_name}}</td>
				<td>{{this.l_name}}</td>
				<td>{{this.homeworld}}</td>
				<td>{{this.faction}}</td>
				<td>{{this.ship}}</td>
				<td>{{this.structure}}</td>
				<td>{{this.species}}</td>
			</tr>
		</tbody>
	</table>
	
	<br>

	<h3>Add characters</h3>
	<form action="http://localhost:3012/insert" method="POST">
		<div class="row">
			<div class ="four columns">
				<label>First Name</label>
				<input class ="u-full-width" placeholder="Luke">
			</div>
			<div class ="four columns">
				<label>Last Name</label>
				<input "u-full-width" placeholder="Luke">
			</div>
		</div>

		<label>Homeworld</label>
		<input placeholder="Luke">

		<label>Faction</label>
		<input placeholder="Luke">

		<label>Ship</label>
		<input placeholder="Luke">

		<label>Structure</label>
		<input placeholder="Luke">

		<label>Species</label>
		<input placeholder="Luke">

		<input type="submit" value="Submit"/>
	</form>
</div>